<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="home.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="Default.aspx" />
            </files>
        </defaultDocument>
            </system.webServer>
<system.web>
        <customErrors mode="On"  defaultRedirect="~/servermsg.aspx" />
<machineKey validation="SHA1" validationKey="NBGKQHKIG9W0B5XXTR0MKUKMF19UPAGMBA1SF4EYXBXN5YRAGGSCJX5GANAMBJDA" decryptionKey="8A9BE8FD67AF6979E7D20198CFEA50DD3D3799C77AF2B72F" /> 

    </system.web>
</configuration>
